header {
    height: 60vh;
    display: flex;
    margin-top: 50px;
}

.header-text {
    display: block;
    text-align: center;
    width: 50%;
    padding: 35px;
    font-size: 1.3em;
    line-height: 1.7em;
}

.header-text span {
    color: #acdaa6;
}

.self-portrait {
    margin: 0 auto;
    width: 30%;
}

header img {
    display: block;
    width: 70%;
    border-radius: 50%;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
    margin-left: auto;
    margin-right: auto;
}