.main-menu a {
    font-family: 'Poppins';
}

h1, h2, h5, p {
    font-family: 'Poppins';
}

h2 {
    color: #acdaa6;
}

h3 {
    font-family: 'montserrat';
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}